

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url(../../assets/edusity_assets/hero.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centerInfo  {
   margin-left:20px;
   width: 80%;
   text-align: center;
}
.centerInfo h1{
    font-size: 60px;
    font-weight: 600;
}
.explore{
    display: flex;
    width: 100%;
    justify-content: center;
}
.btn{
    margin-top: 10px;
    outline: 0;
    border: 0;
    text-align: center;
}
.explore img{
    padding-left: 5px;
}
.explore button{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: medium;
    font-weight: 500;
}